body, html{
    height: 100%;
    margin: 0;
    /* background-position: ; */
}
.bg{
    background-image: url("../images/mewtwo.png");
    background-repeat: no-repeat; 
    height: 100%;
    /* opacity: 0.85; */
    background-size: cover;
}
h1{
    background-color: rgb(246, 225, 247);
    text-align: center;
    opacity: 0.8;
    color: blueviolet;
    padding-bottom: 10px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 46px;
}
h3{
    margin-top: 20px;
    font-family: 'Do Hyeon', sans-serif;
    color: rgb(96, 39, 187);

}
h4, p{
    font-family: 'Sunflower', sans-serif;
    color: rgb(96, 39, 187);
}

.start{
    background-color: rgb(246, 225, 247);
    border-radius: 25px;
}

.mewtwo{
    margin-top: 25px;
    padding-top: 10px;
    background-color: rgb(246, 225, 247);
    border-radius: 25px;
    opacity: 0.8;
}

